.ContentContainer{
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: 280;
    background-color: white;
    @media screen and (max-width: 768px) {
      /* Estilos para dispositivos móviles */
    margin: 5px 0px ;
    padding: 10px;
    }

    @media screen and (min-width: 769px) {
      /* Estilos para escritorio */
      margin: 16px;
    padding: 24px;
    }
}
.logo{
    display: flex;
    align-items: start;
    justify-content: flex-start;
}
.icon{
    width: 72px;
}
.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
}
.AppHeader{
    padding-inline: 0;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
}
.UserContainer{
    justify-self: end;
    padding-right: 10px;
}
.TopContainer{
    display: grid;
    align-items: center;
}
@media (max-width: 480px) {
    .ant-table{
        width: 100%;
    }
  }

/* Tablets en horizonal y escritorios normales
------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
    .show-header{
      display:block;
    }
    .web{
      display:block;
    }
   
  }
  
  /* RESPONSIVE
     ========================================================================= */
  .app-table{
    display:block;
    text-align:center;
    max-width:768px;
    margin:auto;
    color:none;
  }
  .app-menu{
    display:block;
    text-align:center;
    max-width:768px;
    margin:auto;
    color:none;}

  .custom-table td {
    padding: 10px !important; /* Cambia el padding de las celdas */
  }
    
  .custom-table tr {
     margin: 10px !important; /* Cambia el margen de las filas */
  }
  
  /* Móviles o tablets en vertical
     ------------------------------------------------------------------------- */
  @media screen and (min-width: 768px) {
    .app-table{
      display:none;
    }
    .app-menu{
      display:none;
    }
  }

  /* Estilos comunes para la barra de navegación */
.web {
  height: 100vh;
  transition: width 0.3s ease;
}

/* Estilos para el modo vertical (desktop) */
.desktop {
  width: 256px;
}

/* Estilos para el modo horizontal (mobile) */
.mobile {
  width: 100%;
}