.loginForm{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px, 8px, 32px 0 rgba(0, 0, 255, 0.33);
    backdrop-filter: blur(10px);
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
}
.Label{
    width: 300px;
    margin: 0;
}
.imgLogo{
    width: 100px;
    border-radius: 100%;
}
.MainContainer {
    display: grid;
    grid-template-columns: repeat(3,3fr);
  }
  .CardContainer {
    grid-column: 3;
  }
  @media (max-width: 768px) {
    .CardContainer {
      grid-column: 2;
    }
  }